h1 {
  color: red;
}

.knn svg {
  // position: relative;
  outline: 1px solid red;
  margin: 50px;

  .knn-point{
    &.knn-TYPE1 {
      fill: red;
    }

    &.knn-TYPE2 {
      fill: blue;
    }

    &.knn-TYPE-NEW {
      fill: grey;
    }
  }
}
